body
        {
            background-color: rgba(211, 211, 206, 0.877);
        }
        .container
        { 
            background-image: url("фон.png");
            width: 1000px;
            height: 250px;
            margin:0 auto;
        }
        .item
        {
            text-align: center;
        }
        .container_2
        {
            display: flex;
            justify-content: space-around;
            margin: 10px;
            align-items: center;
        }
        a
        {
            text-decoration: none;
            color:white;
            background-attachment: fixed;
        }
        .name
        {
            font-size: 30px;
            color:white;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            padding-top: 20px;
        }
        .container1
        {
            background-color: white;
            width: 1000px;
            height:auto;
            margin:0 auto;
            padding:0px 10px 0px 10px;
            box-sizing: border-box;
        }
        .social
        {
            color: white;
        }
        img
        {
            width: 40px;
            height: auto;
            
        }
        .basic
        {
            font-size:14px;
            font-family: 'Courier New', Courier, monospace;
            color: white;
            animation: blinkingText 1s infinite;
        }
        nav
        {
            font-size: x-large;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            margin: 0 30px;
        }
        @keyframes blinkingText
        {
                0% { opacity: 1; }
                50% { opacity: 0; }
                100% { opacity: 1; }
        }
        .footer
        {
            width: 1000px;
            height: 100px;
            background-color: rgb(228, 137, 19);
            text-align:center;
            margin:0 auto;
            box-sizing: border-box;
            display: flex;
            vertical-align: middle;
            justify-content: center;
        }
        .link
        {
            color: green;
        }
        .link1
        {
            text-decoration: underline;
        }
        h1
        {
            font-family: 'Times New Roman', Times, serif;
            color: #4A4A4A;
            font-family: 'Courier New', Courier, monospace;
        }
        p
        {
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;

        }
        li
        {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16px;
        }