body
        {
            background-color: rgba(211, 211, 206, 0.877);
        }
        .container
        {
            background-color: rgb(228, 137, 19);
            width: 1000px;
            height: 200px;
            margin-top: 1%;
            margin-left: 25%;
        }
        .container_2
        {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }
        a
        {
            text-decoration: none;
            color: black;
        }
        .name
        {
            font-size: 30px;
            color: black;
            font-family: 'Courier New', Courier, monospace;
           text-align: center;
        }
        .container1
        {
            background-color: white;
            width: 1000px;
            height:auto;
            margin-left: 25%;
            padding:0px 10px 0px 10px;
            box-sizing: border-box;
        }
        .social
        {
            color: white;
        }
        img
        {
            width: 40px;
            height: 40px;
        }
        .item
        {
            text-align: center;
        }
        .footer
        {
            width: 1000px;
            height: 100px;
            background-color: rgb(228, 137, 19);
            text-align:center;
            margin-left:25%;
            padding: 25px;
            box-sizing: border-box;
        }
        .link
        {
            color: green;
        }